<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>АНО «Территория детства»</title>
    <meta name="description"
          content="Автономная некоммерческая организация, занимающаяся организацией детского отдыха в Хабаровском крае">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://xn---27-6cdjlfcya9dwaactfegb8w.xn--p1ai/">
    <meta property="og:title" content="АНО «Территория детства»">
    <meta property="og:description" content="Организация детского отдыха в загородных лагерях Хабаровского края">
    <meta property="og:image" content="https://xn---27-6cdjlfcya9dwaactfegb8w.xn--p1ai/img/hero.webp">

    <!--Card -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://xn---27-6cdjlfcya9dwaactfegb8w.xn--p1ai/">
    <meta property="twitter:title" content="АНО «Территория детства»">
    <meta property="twitter:description" content="Организация детского отдыха в загородных лагерях Хабаровского края">
    <meta property="twitter:image" content="https://xn---27-6cdjlfcya9dwaactfegb8w.xn--p1ai/img/hero.webp">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="https://unpkg.com/vue@3.5.13/dist/vue.global.prod.js"></script>
    <link rel="stylesheet" type="text/css" href="./src/style.prod.css">
    <!--    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@300;400;500;600;700&display=swap"-->
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript"> (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        for (var j = 0; j < document.scripts.length; j++) {
            if (document.scripts[j].src === r) {
                return;
            }
        }
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(100479051, "init", {clickmap: true, trackLinks: true, accurateTrackBounce: true, webvisor: true}); </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/100479051" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript> <!-- /Yandex.Metrika counter -->

    <style>
        .bg-custom-blue {
            background-color: #e0f2fe;
        }

        .bg-custom-emerald {
            background-color: #10b981;
        }

        .bg-custom-sky {
            background-color: #0ea5e9;
        }

        .dark .bg-dark-custom {
            background-color: #1e293b;
        }

        .dark .text-dark-custom {
            color: #f8fafc;
        }

        .dark .bg-dark-emerald {
            background-color: #047857;
        }

        .dark .bg-dark-sky {
            background-color: #0369a1;
        }

        .gallery-overlay {
            background-color: rgba(0, 0, 0, 0.9);
        }

        .aspect-ratio {
            aspect-ratio: 16/9;
        }

        .wavy-border {
            position: relative;
            padding-bottom: 8px;
        }

        .wavy-border::after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            right: 0;
            height: 8px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 8'%3E%3Cpath fill='%23fff' d='M0 4c100-4 200 4 300 0s200-4 300 0 200 4 200 4H0z'/%3E%3C/ssvg%3E");
            background-size: 800px 8px;
            background-repeat: repeat-x;
        }

        .dark .wavy-border::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 8'%3E%3Cpath fill='%231e293b' d='M0 4c100-4 200 4 300 0s200-4 300 0 200 4 200 4H0z'/%3E%3C/svg%3E");
        }
    </style>
</head>
<body>
<div id="app" class="">
    <div :class="{ 'dark': isDarkTheme }">
        <nav class="sticky top-0 z-[98] p-4 mb-[160px] sm:mb-0 text-teal-800 bg-white dark:bg-dark-custom">
            <div class="container mx-auto flex justify-between items-center">
                <div class="flex items-center space-x-4">
                    <img src="android-chrome-192x192.png" alt="Logo" class="h-10" loading="lazy">
                    <div class="text-xl max-[316px]:text-sm font-bold dark:text-dark-custom">Территория детства</div>
                </div>
                <ul class="hidden md:flex space-x-6">
                    <li v-for="(item, index) in navItems" :key="index">
                        <a :href="'#'+item.id" class="hover:opacity-80 transition dark:text-dark-custom">{{ item.title
                            }}</a>
                    </li>
                </ul>
                <div class="flex items-center space-x-4">
                    <a href="https://vk.com/club211312608"
                       class="hidden min-[350px]:block hover:opacity-60 text-2xl"
                       title="Группа в ВК"><i class="fa-brands fa-vk"></i></a>
                    <a href="https://t.me/territoria27detstva"
                       class="hidden min-[420px]:block hover:opacity-60 text-2xl" title="Канал в ТГ">
                        <i class="fa-brands fa-telegram"></i></a>
                    <a href="mailto:mvdrussia18@gmail.com" class="hidden sm:block hover:opacity-60 text-2xl"
                       title="Написать нам e-mail"><i
                            class="fa-regular fa-envelope"></i></a>
                    <!--                    <button @click="toggleTheme" class="p-2 rounded-full dark:text-dark-custom text-xl">-->
                    <!--                        <i :class="isDarkTheme ? 'fa-solid fa-sun' : 'fa-solid fa-moon'"></i>-->
                    <!--                    </button>-->
                    <button @click="toggleMenu" class="md:hidden dark:text-dark-custom text-xl">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
            </div>
            <div v-show="isMenuOpen"
                 class="absolute right-0 md:hidden absolute w-[50%] bg-white dark:bg-dark-custom z-10">
                <ul class="py-4">
                    <li v-for="(item, index) in navItems" :key="index" class="py-2 px-4">
                        <a :href="'#'+item.id" class="block hover:opacity-80 dark:text-dark-custom">{{ item.title }}</a>
                    </li>
                    <li class="py-2 px-4 flex-inline items-center space-x-4">
                        <a href="https://vk.com/club211312608"
                           class=" max-[300px]:block  hover:opacity-60 text-2xl" target="_blank" title="Группа в ВК"><i
                                class="fa-brands fa-vk"></i></a>
                        <a href="https://t.me/territoria27detstva"
                           class=" max-[300px]:block hover:opacity-60 text-2xl" target="_blank" title="Канал в ТГ"><i
                                class="fa-brands fa-telegram"></i></a>
                        <a href="mailto:mvdrussia18@gmail.com"
                           class="  max-[300px]:block hover:opacity-60 text-2xl"
                           title="Написать нам e-mail"><i
                                class="fa-regular fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
        </nav>

        <section id="hero" class="relative h-[600px] wavy-border">
            <div class="absolute inset-0 bg-[url('../img/hero.webp')] bg-cover bg-center opacity-50 blur-sm"></div>
            <div class="absolute bottom-0 left-0 right-0 bg-teal-900/50 p-8 text-center text-white">
                <h1 class="text-4xl font-bold mb-4">О нас</h1>
                <div class="flex flex-row flex-wrap">
                    <div class="max-w-2xl mx-auto text-left">
                        <h3 class="text-2xl font-bold mb-4">Мы – автономная некоммерческая организация «Территория
                            детства».</h3>
                        <p class="mb-4">
                            Мы организуем и участвуем в организации проектов, которые позиционируют детский отдых в
                            загородных оздоровительных лагерях Хабаровского края.
                        </p>
                        <p>
                            Наша задача объединить руководителей детских оздоровительных лагерей, чтобы вместе решать
                            поставленные перед нами задачи и делать детский отдых ярким, интересным, познавательным для
                            детей
                            нашего края.
                        </p>
                    </div>
                    <div class="text-left md:mx-auto">
                        <h3 class="text-3xl font-bold mb-4">Сотрудничество:</h3>
                        <ul>
                            <li>КГБНОУ КДЦ «Созвездие»</li>
                            <li>ЧУООД «Мир детства»</li>
                            <li>АНО ОО «Изумрудный город»</li>
                            <li>ДОЛ «Энергетик»</li>
                            <li>МАУДО ДОЦ «Орбита»</li>
                            <li>ДОЛ «Олимп»</li>
                            <li>АНО ОО ДОЛ «Океан»</li>
                            <li>ДОЛ «Буревестник»</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <main class="container mx-auto px-4 py-8">
            <section v-for="section in contentSections" :id="section.id" class="mb-16">
                <h2 class="text-2xl font-bold mb-6 text-teal-800 dark:text-dark-custom">{{ section.title }}</h2>
                <div v-if="section.id === 'events'" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
                    <div v-for="(event, index) in events.slice().reverse()" @click="openEventModal(event)"
                         class="rounded-lg cursor-pointer transition hover:scale-[1.02] bg-custom-blue dark:bg-dark-custom">
                        <img v-if="event.image" :src="event.image" class="w-full h-48 object-cover mb-4 rounded"
                             loading="lazy">
                        <div class="p-3">
                            <div class="font-bold mb-2 text-teal-800 dark:text-teal-300">{{ event.date }}
                            </div>
                            <div class="line-clamp-4 text-teal-950 dark:text-dark-custom">
                                {{ truncateText(event.description, 200) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else-if="section.id === 'media'" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
                    <div v-for="(item, index) in visibleMedia" @click="openGallery(index)"
                         class="relative cursor-pointer group">
                        <img v-if="item.type === 'image'" :src="item.src" class="w-full h-48 object-cover rounded"
                             loading="lazy">
                        <video v-else :src="item.src" class="w-full h-48 object-cover rounded"></video>
                        <div class="absolute inset-0 bg-black/0 group-hover:opacity-50 transition"></div>
                    </div>
                    <button type="button" v-if="media.length > 4 && !showAllMedia" @click="showAllMedia = true"
                            class="col-span-full py-2 px-4 bg-teal-500 hover:bg-teal-700 text-white rounded-sm mx-auto">
                        Показать ещё
                    </button>
                </div>
                <div v-else
                     class="whitespace-pre-line p-6 rounded-lg bg-custom-blue dark:bg-dark-custom dark:text-dark-custom  [&_a]:font-medium [&_a]:text-teal-600 [&_a]:dark:text-teal-400 [&_a:hover]:text-teal-800"
                     v-html="section.content">
                </div>
            </section>
        </main>
        <footer class="container  mx-auto px-4 py-8 flex flex-wrap flex-row justify-between text-teal-800 dark:text-teal-500 [&_a]:font-medium [&_a]:text-teal-600 [&_a]:dark:text-teal-400 [&_a:hover]:text-teal-800">
            <div>АНО ОО «Территория детства» &copy; 2025 г.</div>
            <div><a href="https://2rom.ru" target="_blank" title="Сделано студией 2ром">2ром</a></div>
        </footer>

        <div v-if="selectedEvent"
             class="fixed inset-0 bg-black/50 flex items-center justify-center p-3 z-[99] overflow-y-auto">
            <div class="max-[380px]:mt-[11rem] max-w-2xl w-full p-3 rounded-lg bg-white dark:bg-dark-custom">
                <div class="flex justify-between mb-4">
                    <h3 class="text-xl font-bold  text-teal-800 dark:text-dark-emerald">{{ selectedEvent.date
                        }}</h3>
                    <button @click="selectedEvent = null" class="text-teal-900 dark:text-dark-custom">✕</button>
                </div>
                <img v-if="selectedEvent.image" :src="selectedEvent.image"
                     class="w-full h-64 object-cover mb-4 rounded" loading="lazy">
                <div class="whitespace-pre-line  text-teal-950 dark:text-dark-custom">{{ selectedEvent.description }}
                </div>
            </div>
        </div>

        <div v-if="galleryVisible" class="fixed inset-0 gallery-overlay flex items-center justify-center z-[99]">
            <button @click="closeGallery" class="absolute top-4 right-4 text-white text-4xl">×</button>
            <button @click="prevMedia" class="absolute left-4 top-1/2 text-white text-4xl">‹</button>
            <button @click="nextMedia" class="absolute right-4 top-1/2 text-white text-4xl">›</button>
            <div class="w-full max-w-6xl p-4">
                <img v-if="currentMedia.type === 'image'" :src="currentMedia.src"
                     class="w-full max-h-[80vh] object-contain" loading="lazy">
                <video v-else :src="currentMedia.src" controls class="w-full aspect-ratio"></video>
            </div>
        </div>
    </div>
</div>
<script>
    const {createApp} = Vue;

    createApp({
        data() {
            return {
                isDarkTheme: false,
                isMenuOpen: false,
                showAllMedia: false,
                selectedEvent: null,
                galleryVisible: false,
                currentMediaIndex: 0,
                navItems: [
                    {id: 'hero', title: 'О нас'},
                    {id: 'events', title: 'События'},
                    {id: 'media', title: 'Медиа'},
                    {id: 'contacts', title: 'Контакты'}
                ],
                contentSections: [
                    {id: 'events', title: 'События'},
                    {id: 'media', title: 'Медиа'},
                    {
                        id: 'contacts',
                        title: 'Контакты',
                        content: 'Автономная некоммерческая организация отдыха и оздоровления «Территория детства» (АНО ОО «Территория детства»). \n' +
                            '<a href="/files/docs.pdf">Свидетельство о регистрации ОГРН&nbsp;&numero;1152700001145 от 30 сентября 2015г.</a> \n\n' +
                            'Директор – Попков Максим Александрович, <a href="tel:+79625848401" title="Позвонить">8(962)584-84-01</a>, эл.почта: <a href="mailto:mvdrussia18@gmail.com">mvdrussia18@gmail.com</a> \n\n' +
                            'TG: <a href="https://t.me/territoria27detstva">https://t.me/territoria27detstva</a> \n' +
                            'ВК: <a href="https://vk.com/club211312608">https://vk.com/club211312608</a> \n'
                    }
                ],
                events: [
                    {
                        date: 'Февраль 2025г.',
                        image: './img/media/ok0cSh2vpO0.webp',
                        description: 'Директор АНО «Территория детства» вошёл в состав экспертной комиссии открытого профориентационного конкурсного проекта «Педагогический старт – 2025». \n' +
                            'Целью конкурсного проекта является выявление и поддержка талантливых детей и подростков в области педагогической деятельности.\n' +
                            'По итогам конкурсного отбора было выявлено 15 команд педагогических классов Хабаровского края, которые станут участниками КПС «Педагогическая смена» в Краевом детском центре «Созвездие». \n' +
                            'Желаем участникам успехов в освоении педагогических профессий!\n'
                    },
                    {
                        date: 'Апрель 2025г.',
                        image: './img/media/Y8JyAbIn9bE.webp',
                        description: 'АНО «Территория детства» выступит в роли партнёра проекта «Краевая школа подготовки вожатых», практический этап которой пройдёт с 25 апреля по 3 мая в Краевом детском центре «Созвездие». \n' +
                            'Мы расскажем будущим вожатым Хабаровского края о принципах оформления отрядного пространства в детском лагере и проведём увлекательный дизайнерский практикум! \n' +
                            'Ссылка на ТГ-канал Школы подготовки вожатых: https://t.me/shpvkhv'
                    },
                    {
                        date: 'Апрель 2025г.',
                        image: './img/media/XxHN_IdBMG8.webp',
                        description: 'АНО «Территория детства» выступит на ежегодном открытом обучающем семинаре-совещании по подготовке кадров для организаций отдыха и оздоровления детей и подростков «Архитекторы лета». \n' +
                            'В рамках семинара, мы поделимся с коллегами своим профессиональным опытом и представим свою организацию. \n' +
                            ' Ссылка на ТГ-канал: https://t.me/otdyh27khv'
                    }
                ],
                media: [
                    {type: 'image', src: './img/media/9QGEWR2dHGs.webp', title: 'Мероприятие 1'},
                    // {type: 'video', src: 'video1.mp4', title: 'Видео 1'},
                    {type: 'image', src: './img/media/blproUo9VMA.webp', title: 'Мероприятие 2'},
                    {type: 'image', src: './img/media/ok0cSh2vpO0.webp', title: 'Мероприятие 3'},
                    {type: 'image', src: './img/media/vWgVV0-zQiU.webp', title: 'Мероприятие 4'},
                    {type: 'image', src: './img/media/XN_pYcK5O4g.webp', title: 'Мероприятие 5'},
                    {type: 'image', src: './img/media/XxHN_IdBMG8.webp', title: 'Мероприятие 5'},
                    {type: 'image', src: './img/media/Y8JyAbIn9bE.webp', title: 'Мероприятие 5'},
                ]
            }
        },
        computed: {
            visibleMedia() {
                return this.showAllMedia ? this.media : this.media.slice(0, 4)
            },
            currentMedia() {
                return this.media[this.currentMediaIndex]
            }
        },
        methods: {
            toggleTheme() {
                this.isDarkTheme = !this.isDarkTheme
            },
            toggleMenu() {
                this.isMenuOpen = !this.isMenuOpen
            },
            truncateText(text, maxLength) {
                return text.length > maxLength ? text.slice(0, maxLength) + '...' : text
            },
            openEventModal(event) {
                this.selectedEvent = event
            },
            openGallery(index) {
                this.currentMediaIndex = index
                this.galleryVisible = true
            },
            closeGallery() {
                this.galleryVisible = false
            },
            prevMedia() {
                this.currentMediaIndex = (this.currentMediaIndex - 1 + this.media.length) % this.media.length
            },
            nextMedia() {
                this.currentMediaIndex = (this.currentMediaIndex + 1) % this.media.length
            }
        }
    }).mount('#app')
</script>
</body>
</html>